
.product__areaWrapper{
    border: none;
}

.content__heading{
    display: flex;
    font-weight: 500;
    color: var(--textColor);
    align-items: center;
}

.content__headingText{
    display: flex;
}

.content__headingText a{
    font-weight: 500;
    text-decoration: none;
    color: var(--textColor);
}

.content__headingText a:hover{
    color: var(--subTheme_color);
}

.content__headingText h4 {
    margin: 0;
}

.content__headingText span {
    margin: 0 10px;
}

.headingFilter__container{
    display: flex;
    justify-content: space-between;
}

.content__headingFilter{
    display: flex;
    align-items: center;
}

.oderBy__select{
    padding: 8px;
    outline: none;
    border-color: #ccc;
    border-radius: 2px;
    margin-left: 10px;
}

.oderBy__select:hover{
    cursor: pointer;
}

/* content__products */
.content__products {
    margin-top: 20px;
}

/* category */
.products__Category,
.products__FilterPrice{
    background-color: white;
    border-radius: 2px;
    margin-bottom: 24px;
}

.Category__header,
.FilterPrice__header{
    padding: 20px;
    margin: 0;
    color: var(--theme_color);
}

.Category__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.Category__item:nth-of-type(2n+1){
    background-color: #f8f8f8;
}

.Category__link{
    text-decoration: none;
    display: block;
    padding: 14px 20px;
    border-top: 1px solid #ececec;
    font-weight: 500;
    color: var(--textColor);
    transform: translateX(0);
    transition: color .2s, transform .2s;
    position: relative;
}

.Category__link:hover{
    color: var(--subTheme_color);
    transform: translateX(10px);
}

/* filter__price */

.price_slider_containner{
    padding: 20px 15px 20px 15px;
    border-top: 1px solid #ececec;
}

.price_slider_wrapper{
    position: relative;
}

.slide_hoder{
    background-color: #666;
    height: 5px;
    width: 50%;
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 5px;
}

.slide{
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    margin: 0 0 14px 0;
    width: 100%;
}

.slide:hover{
    cursor: pointer;
}

.slide::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #666;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

.price_slider_amount{
    display: flex;
    justify-content: space-between;
}

.filter__btn{
    padding: 5px;
    width: 50px;
}

.price_label{
    font-size: 13px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.from,
#price_desc{
    color: var(--red);
}

.gia{
    margin-right: 4px;
}

.gachngang{
    color: var(--red);
    margin: 0 4px;
}

.d{
    margin-left: 4px;
    color: var(--red);
}

/* product */
/* .product__areaWrapper{
    border: none;
} */

/* pagination */

.pagination__list{
    justify-content: center;
    margin: 4px 0;
    display: flex;
}

.pagination__item{
    margin-right: 8px;
}

.pagination__link{
    text-align: center;
    width: 30px;
    line-height: 26px;
    border: 2px solid var(--theme_color);
    border-radius: 50%;
}


/* common */
.itemCate__active::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 100%;
    background-color: var(--subTheme_color);
}

.itemCate__active{
    color: var(--subTheme_color);
    transform: translateX(10px);
}

/* pagination */
.pagination__link.pagination_active{
    color: white;
    padding: 2px;
    background-image: linear-gradient(0, var(--subTheme_color), var(--theme_color));
    border: none;
}